:root {
  --f-heading: sans-serif;
  --f-normal: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  --c-background: hsl(0, 0%, 97%);
  --c-surface: hsl(0, 0%, 99%);
  --c-on-background: hsl(0, 0%, 97%);
  --c-on-surface: hsl(0, 0%, 10%);
  --outline: rgba(128, 128, 128, 0.822);

  --c-vibrant: rgba(48, 139, 48, 0.781);
  --c-lite: rgb(101, 179, 101);
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-background: hsl(0, 0%, 10%);
    --c-surface: hsl(0, 0%, 12%);
    --c-on-background: hsl(0, 0%, 97%);
    --c-on-surface: hsl(0, 0%, 97%);
    --outline: rgba(59, 59, 59, 0.822);

    --c-vibrant: rgb(36, 95, 36);
    --c-lite: rgb(79, 139, 79);
  }
}

body,
html {
  font-family: var(--f-normal);

  margin: 0;

  background-color: var(--c-background);
  color: var(--c-on-background);

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

* {
  box-sizing: border-box;
  transition: all 150ms ease-in-out;
}

footer {
  width: 100%;
  padding: 1rem;

  text-align: center;
}

.menu {
  display: block;
  position: sticky;

  top: 0;
  left: 0;
  right: 0;

  padding: 1em;

  color: var(--c-on-surface);
  background-color: var(--c-surface);
  box-shadow: 0px 4px 8px hsla(0, 0%, 0%, 0.08);

  z-index: 10000;
}

.menu nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 0.5em;
  align-items: center;
}

nav a {
  color: var(--c-on-surface);
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--c-vibrant);
}

.menu .selected {
  color: var(--c-vibrant);
}

main section {
  background-color: var(--c-surface);
  color: var(--c-on-surface);
  padding: 2rem;
  margin: 2rem;

  width: 100%;

  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-size: 1.1em;
  padding: 0.4em;
  border-radius: 0.5rem;
  border: solid 1px var(--outline);
  text-align: center;

  color: var(--c-on-surface);
  background-color: var(--c-background);
}

input:autofill {
  background-color: var(--c-vibrant);
}

input:-webkit-autofill {
  background-color: var(--c-vibrant);
}

button {
  padding: 0.7em;

  border-radius: 0.3rem;
  border: solid 1px var(--outline);

  background: var(--c-vibrant);
  color: white;

  cursor: pointer;
}

select {
  padding: 0.4em;

  border-radius: 0.5rem;
  border: solid 1px var(--outline);

  margin: 0.5rem;

  color: var(--c-lite);
  background-color: var(--c-surface);
}
